@keyframes navAnim {
  0% {
    background-position: 1% 0%;
  }
  10% {
    background-position: 25% 0%;
  }
  20% {
    background-position: 50% 50%;
  }
  30% {
    background-position: 75% 100%;
  }
  40% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 0%;
  }
  60% {
    background-position: 25% 25%;
  }
  70% {
    background-position: 50% 50%;
  }
  80% {
    background-position: 100% 99%;
  }
  90% {
    background-position: 75% 25%;
  }
  100% {
    background-position: 1% 0%;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.85);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.body {
  background-color: #000000;
  background-image: linear-gradient(
    140deg,
    #08b9c570,
    #4f00b670,
    #0000bb70,
    #00006170,
    #30107070,
    #30158070,
    #d4004770
  );
  background-size: 200% 200%;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  animation: navAnim 30s ease infinite;
  transition: 0.6s;
  font-family: Arial, Helvetica, sans-serif;
}

#user-body #navigation {
  padding-bottom: 0px;
}

.d-flex {
  flex-grow: 1;
}

#nav2 {
  display: flex;
}

.navbar {
  display: flex;
  backdrop-filter: blur(7px);
}

.nav-item {
  margin-left: 10px;
}

#chat-screen-body .navbar {
  background-image: none;
  background-color: #00000000;
  background-size: auto;
  animation: none;
  transition: none;
  backdrop-filter: none;
}

#chat-screen-body .navbar .container-fluid {
  padding-top: 0px;
  padding-bottom: 0px;
}

#chat-screen-body #navigation {
  box-shadow: none;
}

#chat-screen-body .navbar-brand {
  font-size: 25pt;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.navbar-brand {
  font-size: 22pt;
  text-shadow: 4px 4px 8px #00000070;
  margin-right: 0em;
}

.navbar-brand img {
  width: auto;
  height: calc(0.8 * 1.2em);
  margin-left: 0.2em;
}

#logo {
  margin-bottom: 20pt;
  width: 60%;
  height: auto;
}

#chat-badge {
  display: none;
}

.navbar-toggler {
  border-radius: 10px;
  border: none;
  box-shadow: 4px 4px 8px #00000070;
}

.navbar-toggler:focus {
  box-shadow: 4px 4px 8px #00000070;
}

.form-control {
  color: inherit;
  border: none;
  overflow: hidden;
  background-color: #ffffff20;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  box-shadow: 4px 4px 8px #00000070;
}

#user-body #navigation .container-fluid #search #searchbar {
  background-color: #00000090;
}

#message-body #navigation .container-fluid #search #searchbar {
  background-color: #000000;
  background-image: linear-gradient(
    140deg,
    #08b9c550,
    #4f00b650,
    #0000bb50,
    #00006150,
    #30107050,
    #30158050,
    #d4004750
  );
}

.form-control:focus {
  background-color: #00000090;
  color: whitesmoke;
  box-shadow: 4px 4px 8px #00000070;
  backdrop-filter: blur(2px);
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 12pt;
  height: 100%;
}

#posts {
  padding: 0pt;
  overflow: hidden;
  overflow-y: scroll;
}

.card {
  border-radius: 5pt;
  margin-bottom: 15pt;
  border: 0px;
  background-image: linear-gradient(to top, #173be2, #1333c2, #102aa2, #0d2281);
  background-attachment: fixed;
  box-shadow: 4px 4px 8px #00000070;
}

#sub-cd {
  margin-bottom: 0pt;
  width: 100%;
  border-radius: 5pt;
  border: 0px;
  background-image: linear-gradient(to top, #748af0, #536fed, #3354ea, #173be2);
  background-attachment: fixed;
  box-shadow: none;
}

.card-body {
  padding-top: 15pt;
  padding-bottom: 10pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#sub-post-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: stretch;
  align-self: center;
  align-items: center;
  margin-left: 10pt;
  margin-right: 10pt;
  margin-top: 10pt;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-bottom: 0pt;
}

.card-text {
  padding-right: 5px;
}

#rating {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#rating .bi {
  margin-right: 4pt;
}

#post-footer #post-analytics-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#post-analytics {
  display: flex;
  flex-direction: row;
  background-color: #ffffff50;
  color: #000000;
  font-weight: bold;
  padding-left: 5pt;
  padding-right: 5pt;
  border-radius: 5px;
  /* box-shadow: 1px 1px 8px #00000070; */
}

#post-footer #like-count {
  font-size: 9pt;
}

#post-footer .bi {
  margin-left: 4px;
}

#post-footer .bi-heart-fill {
  font-size: 6.5pt;
}

#post-footer .bi-arrow-repeat {
  font-size: 8.5pt;
}

#post-footer #repost-count {
  font-size: 9pt;
  margin-left: 30px;
}

#rating .bi-arrow-repeat {
  font-size: 1.15em;
  margin-left: 2pt;
}

#rating .bi-heart {
  margin-right: 1pt;
}

#rating .bi-heart-fill {
  margin-right: 1pt;
}

#rating .bi:hover {
  transform: scale(1.2);
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  color: #000000;
  font-size: 10pt;
  font-weight: bold;
  border-bottom: none;
  background-color: #00000000;
  padding: 0pt;
}

#sub-card-header {
  margin-left: 5px;
}
#edit-header {
  margin-left: 5px;
}
#repost-header {
  margin-left: 5px;
}

#no-posts-header {
  justify-content: center;
  color: #fff;
}

#post-header-date {
  font-size: 8pt;
  margin-bottom: 0pt;
  color: #ffffff90;
  margin-left: 5px;
  /* text-shadow: 1px 1px 2px #00000070; */
}

.card-header #user-tag {
  background-color: #ffffff50;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  /* box-shadow: 1px 1px 8px #00000070; */
}

.card-header #user-tag:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 10px #00000090;
}

.card-footer {
  padding: 0pt;
  padding-left: 5px;
  padding-right: 5px;
}

#post-footer {
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #00000000;
}

.btn {
  width: 100%;
}

#bigScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    120deg,
    #08b9c5,
    #4f00b6,
    #0000bb,
    #000061,
    #301070,
    #301580,
    #d40047
  );
  background-size: 200% 200%;
  animation: navAnim 30s ease infinite;
  transition: 0.6s;
  backdrop-filter: blur(20px);
}

/* #4f00b6,
      #0000bb,
      #000061,
      #301070,
      #301580,
      #d40047, */

/* #ffec19,
      #ffc100,
      #ff9800,
      #ff5607,
      #f6412d,
      #d40047,
      #4f00b6,
      #301580 */

.title {
  font-size: 80pt;
  color: inherit;
  text-decoration: none;
  text-shadow: 4px 4px 8px #00000070;
}

.search1 {
  border-radius: 10px;
  height: 10%;
  width: 70%;
  box-shadow: 4px 4px 8px #00000070;
}

#main-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  min-width: 350px;
  max-width: 800px;
}

.input-group-text {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 4px 4px 8px #00000070;
}

#newAcc .col-lg-12 .form-control {
  background-image: none;
  background-color: white;
  color: #181818;
}

#newAcc .form-group .form-control {
  background-image: none;
  background-color: white;
  color: #181818;
}

#login-email {
  display: none;
  flex-direction: column;
}

#login-check {
  display: flex;
}

#login-btn-row {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

#create-btn {
  display: none;
  justify-content: center;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #00000050;
  box-shadow: 4px 4px 8px #00000070;
  margin-bottom: 10px;
}

#create-btn-2 {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #00000040;
  box-shadow: 4px 4px 8px #00000070;
}

#create-btn:hover {
  background-image: linear-gradient(140deg, #ff5607, #f6412d, #d40047, #4f00b6);
}

#create-btn-2:hover {
  background-color: #50505070;
}

#login-btn {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #00000070;
  box-shadow: 4px 4px 8px #00000070;
  margin-bottom: 10px;
}

#login-btn-2 {
  display: none;
  justify-content: center;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #00000050;
  box-shadow: 4px 4px 8px #00000070;
}

#login-btn:hover {
  /* background-color: #0026ff70; */
  background-image: linear-gradient(140deg, #ff5607, #f6412d, #d40047, #4f00b6);
}

#login-btn-2:hover {
  background-color: #50505070;
}

#newPostBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 75px;
  height: 75px;
  border-width: 0px;
  justify-content: center;
  border-radius: 37.5px;
  color: whitesmoke;
  background-color: #00000099;
  backdrop-filter: blur(10px);
  /*background-image: radial-gradient(circle, rgb(28, 0, 80), #2700b6);*/
  box-shadow: 4px 4px 8px #00000070;
  animation: pulse 3s ease infinite;
}

#newPostBtn:hover {
  width: 90px;
  height: 90px;
  border-radius: 45px;
}

#plus-icon {
  width: 30;
  height: 30;
}

#postId {
  display: none;
}

#subPostId {
  display: none;
}

#editPostId {
  display: none;
}

.modal-dialog .modal-content {
  border-radius: 25px 25px 0px 0px;
  background-color: #00000000;
  color: whitesmoke;
}

.modal-dialog .modal-content .modal-header {
  background-color: none;
  border-radius: 25px 25px 0px 0px;
  border-bottom: 0 none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: linear-gradient(
    120deg,
    #ff5607,
    #f6412d,
    #d40047,
    #4f00b6,
    #301580,
    #250d57
  );
}

#postModal .modal-dialog .modal-content .modal-header #date {
  background-color: #00000000;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-grow: 1;
  font-size: small;
  margin-right: 10px;
}

#repostModal .modal-dialog .modal-content .modal-header #repostDate {
  background-color: #00000000;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-grow: 1;
  font-size: small;
  margin-right: 10px;
}

#editModal .modal-dialog .modal-content .modal-header #editDate {
  background-color: #00000000;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-grow: 1;
  font-size: small;
  margin-right: 10px;
}

.modal-dialog .modal-content .modal-header .btn-close {
  outline: none;
}

.modal-dialog .modal-content .modal-header .btn-close:focus {
  outline: none;
}

.modal-dialog .modal-content .modal-body {
  background-color: #181818;
  height: fit-content;
  min-height: 175px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  border-radius: 0px 0px 25px 25px;
}

#postModal .modal-dialog .modal-content .modal-body #postInput {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: whitesmoke;
  border: none;
  flex-grow: 1;
  resize: vertical;
}

#repostModal .modal-dialog .modal-content .modal-body #repostInput {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: whitesmoke;
  border: none;
  flex-grow: 1;
  resize: vertical;
}

#editModal .modal-dialog .modal-content .modal-body #editInput {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: whitesmoke;
  border: none;
  flex-grow: 1;
  resize: vertical;
}

#postModal .modal-dialog .modal-content .modal-body #postInput:focus {
  outline: none;
}

#repostModal .modal-dialog .modal-content .modal-body #repostInput:focus {
  outline: none;
}

#editModal .modal-dialog .modal-content .modal-body #editInput:focus {
  outline: none;
}

#postModal .modal-dialog .modal-content #post-button {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border-top: 0 none;
  background-color: #00000000;
}

#repostModal .modal-dialog .modal-content #repost-button {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border-top: 0 none;
  background-color: #00000000;
}

#editModal .modal-dialog .modal-content #edit-button {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border-top: 0 none;
  background-color: #00000000;
}

#postModal .modal-dialog .modal-content #post-button .btn {
  background-color: #180929;
  border-radius: 25px;
  border-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
  outline: none;
}

#repostModal .modal-dialog .modal-content #repost-button .btn {
  background-color: #180929;
  border-radius: 25px;
  border-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
  outline: none;
}

#editModal .modal-dialog .modal-content #edit-button .btn {
  background-color: #180929;
  border-radius: 25px;
  border-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
  outline: none;
}

#postModal .modal-dialog .modal-content #post-button .btn:hover {
  background-image: linear-gradient(140deg, #f6412d, #d40047);
}

#repostModal .modal-dialog .modal-content #repost-button .btn:hover {
  background-image: linear-gradient(140deg, #f6412d, #d40047);
}

#editModal .modal-dialog .modal-content #edit-button .btn:hover {
  background-image: linear-gradient(140deg, #f6412d, #d40047);
}

#deleteModal .modal-dialog .modal-content {
  border-radius: 25px 25px 0px 0px;
  background-color: transparent;
  color: whitesmoke;
}

#deleteModal .modal-dialog .modal-content #inside {
  display: flex;
  flex-grow: 1;
  background-color: transparent;
  background-image: linear-gradient(
    120deg,
    #ff5607,
    #f6412d,
    #d40047,
    #4f00b6,
    #301580
  );
  border-radius: 25px 25px 25px 25px;
}

#deleteModal .modal-dialog .modal-content .modal-header {
  background-color: transparent;
  background-image: none;
  border-radius: 25px 25px 0px 0px;
  border-bottom: 0 none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#deleteModal .modal-title {
  font-size: medium;
}

#deleteModal .modal-dialog .modal-content .modal-header .btn-close {
  outline: none;
  margin-top: 2px;
}

#deleteModal .modal-dialog .modal-content .modal-header .btn-close:focus {
  outline: none;
}

#deleteModal .modal-dialog .modal-content .modal-body {
  /* background-color: #181818; */
  background-color: transparent;
  height: fit-content;
  min-height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  align-items: center;
  border-radius: 0px 0px 25px 25px;
  /* background-image: linear-gradient(
    120deg,
    #ff5607,
    #f6412d,
    #d40047,
    #4f00b6,
    #301580,
    #250d57
  ); */
}

#deleteModal .modal-dialog .modal-content .modal-body .bi {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

#deleteModal .modal-dialog .modal-content #post-button {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border-top: 0 none;
  background-color: #00000000;
}

#deleteModal .modal-dialog .modal-content #post-button .btn {
  background-color: #180929;
  border-radius: 25px;
  border-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
  outline: none;
}

#deleteModal .modal-dialog .modal-content #post-button .btn:hover {
  background-image: linear-gradient(140deg, #f6412d, #d40047);
}

#profile-nav {
  width: 100%;
  margin-bottom: 0%;
  padding-right: 10px;
}

#profile-nav .nav-item .nav-link {
  border-radius: 5px;
  color: whitesmoke;
}

#profile-nav .nav-item .active {
  background-image: linear-gradient(140deg, #ff5607, #f6412d, #d40047);
}

/* start of chat css */

#chat-screen-body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #000000;
  background-image: linear-gradient(
    140deg,
    #08b9c560,
    #4f00b660,
    #0000bb60,
    #00006160,
    #30107060,
    #30158060,
    #d4004760
  );
  background-size: 200% 200%;
  animation: navAnim 30s ease infinite;
  transition: 0.6s;
  backdrop-filter: blur(20px);
}

#message-main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
}

#message-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  flex-wrap: nowrap;
}

#user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  background-color: transparent;
  /* background-image: linear-gradient(to top, #d41900, #3100b6); */
  /* box-shadow: 4px 0px 8px #00000050; */
  z-index: 1;
}

#sub-user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: transparent;
  background-image: linear-gradient(to top, #24016a, #30018d, #3c01b0);
  box-shadow: 4px 0px 8px #00000050;
}

#user-search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
}

#users {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top-width: 2px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: #000000;
  border-style: solid;
}

#users .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #00000050;
  margin-bottom: 2px;
  border-radius: 5px;
}

#users .row:hover {
  background-color: #5402f7;
}

#messages-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

#messages-box .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 15px;
}

#message-column #refresh {
  display: none;
  position: fixed;
  right: 15px;
  width: 75px;
  height: 75px;
  border-width: 0px;
  justify-content: center;
  align-items: center;
  border-radius: 37.5px;
  color: whitesmoke;
  background-color: none;
  background-image: radial-gradient(circle, rgb(31, 0, 88), #3000df);
  box-shadow: 4px 4px 8px #00000070;
  animation: pulse 3s ease infinite;
  z-index: 3;
}

#message-column #refresh:hover {
  width: 80px;
  height: 80px;
  border-radius: 45px;
}

#message-column #refresh .bi {
  font-size: 2em;
}

#messages {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

#messages .card-header {
  color: #fff;
  justify-content: center;
}

#messages .col-6 {
  width: fit-content;
}

#messages .col-6 .col-xl-12 .text-white {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  background-image: linear-gradient(to top, #d41900, #3100b6);
  background-attachment: fixed;
}

#messages .col-6 .col-xl-12 #secondary {
  background-image: linear-gradient(to top, #131313, #313131);
  background-attachment: fixed;
}

#messages .col-6 .col-xl-12 .date {
  font-size: 8pt;
  font-weight: bold;
  color: #ffffff50;
  margin-top: 3px;
  margin-bottom: 15px;
}

#user-search {
  width: 100%;
  margin-top: 10px;
  padding: 0px;
  height: 40px;
  display: flex;
}

#inputPrep {
  background-color: #0a0a0a;
  color: white;
  box-shadow: none;
  border-radius: 6px 0px 0px 6px;
  border-width: 0px;
  margin-right: 2px;
}

#user-searchbar {
  background-color: #0a0a0a;
  background-image: none;
  box-shadow: none;
  border-radius: 0px 6px 6px 0px;
}

#message-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* background-image: linear-gradient(120deg, #f6412d, #d40047, #4f00b6); */
  /* color: white; */
  box-shadow: none;
  border-width: 0px;
  padding: 10px;
}

#sub-message-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(120deg, #30018d, #3c01b0, #4802d4);
  color: white;
  box-shadow: 0px 0px 8px #00000050;
  border-width: 0px;
  padding: 10px;
  border-radius: 10px;
}

#message-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message-input-box {
  border-radius: 6px;
  background-image: none;
  background-color: #0e0e0e;
  margin-right: 10px;
  resize: vertical;
}

#message-send {
  background-color: #0a0a0a;
  background-image: none;
  box-shadow: none;
  border-radius: 6px;
  border-width: 0px;
  height: 100%;
}

/* end of chat css */

/* start of settings css */

#settings-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.settings-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #29154b;
  color: whitesmoke;
  border-radius: 15px;
  border-width: 0px;
  outline: none;
}

#sub-one {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #00000080;
  color: whitesmoke;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#sub-one #inputGroupPrepend {
  background-color: #131313;
  color: #9e9e9e;
  border-radius: 10px 0px 0px 10px;
  border-color: #383838;
  border-width: 2px;
  margin-right: 10px;
}

#sub-one .form-control {
  background-image: none;
  background-color: transparent;
  border-width: 2px;
  border-color: #383838;
  border-style: solid;
}

#sub-one #sub-one-fc {
  padding-right: 10px;
  padding-left: 10px;
}

#sub-one #sub-one-2c {
  padding-left: 10px;
  padding-right: 10px;
}

#sub-one #sub-one-2c #old-password-input {
  margin-top: 9px;
  margin-bottom: 20px;
}

#sub-one-btns {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: whitesmoke;
  border-radius: 20px;
  flex-wrap: nowrap;
}

#sub-one-btns-fc {
  padding-right: 10px;
}

#sub-one-btns-2c {
  padding-left: 10px;
}

#user-change-btn {
  background-color: #ffffff50;
  border-radius: 10px;
  border-width: 0px;
  color: #000000;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

#user-change-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

#pass-change-btn {
  background-color: #ffffff50;
  color: #000000;
  border-radius: 10px;
  border-width: 0px;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

#pass-change-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

#sub-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #00000080;
  color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 20px;
}

#sub-two-header {
  width: 100%;
  margin-top: 10px;
  height: fit-content;
  border-bottom-width: 2px;
  border-bottom-color: #383838;
  border-bottom-style: solid;
  padding-bottom: 10px;
}

#sub-two .row {
  padding-top: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
}

#sub-two .bi {
  padding-left: 15px;
  margin-right: 15px;
  font-size: 2em;
}

/* #settings-body-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-image: linear-gradient(
    270deg,
    #ffc100,
    #ff9800,
    #ff5607,
    #f6412d,
    #d40047
  );
  border-radius: 25px;
} */

#sub-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #00000080;
  color: whitesmoke;
  border-radius: 10px;
}

#sub-three .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  color: whitesmoke;
}

#sub-three #delete-text-settings {
  border-bottom-width: 2px;
  border-bottom-color: #383838;
  border-bottom-style: solid;
}

#settings-delete {
  background-color: #ffffff50;
  color: #000000;
  border-radius: 10px;
  border-width: 0px;
  max-width: 600px;
}

#settings-delete:hover {
  background-image: linear-gradient(270deg, #f6412d, #d40047);
  color: whitesmoke;
  outline: none;
  border-width: 0;
}

#settings-delete:focus {
  outline: none;
  border-width: 0;
}
